/* Add navigation styles */

.nav-link-texts {
  letter-spacing: 2px;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 15px;
}

.nav-brand-text {
  letter-spacing: 2px;
  color: rgb(255, 255, 255) !important;
}

/* Large */
.navigation {
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}



/* Add Main section styles */
.main-section {
  padding-top: 20%;
}

.MainBackgroundImage {
  /* The image used */
  background-image: url("./images/main_image.jpg");
  
  /* Full height */
  height: 660px; 
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #49494b;
  background-blend-mode: overlay;
}

.MainBackgroundImage::after {
  background-color: #333436;
  z-index: -1;
}

.main-section-h3 {
  letter-spacing: 8px;
  color: rgb(230, 238, 238);
  font-size: 60px;
  text-align: left;
  padding-left: 5%;
}

.section-heading {
  letter-spacing: 3px;
  padding-left: 6%;
}



/* Add Bio section styles */
.bio-section {
  background-color: rgb(176, 180, 180);
  color: rgb(37, 37, 37);
  height: auto;
}

.bio-container {
  padding-top: 2%;
  height: 100%;
}

.bio-image {
  max-height: 400px;
}

.img-fluid {
  max-width: 100%;
  max-height: 100%;
}

.section-text {
  text-align: justify;
}

.bio-apps-list {
  width: 100%;
  text-align: center;
  padding-top: 8%;
  letter-spacing: 2px;
}



/* Add Portfolio section styles */
.portfolio-section {
  background-color: rgb(254, 255, 255);
  color: rgb(37, 37, 37);
  height: auto;
}

.portfolio-container {
  padding-top: 2%;
  height: 100%;
}

.quotevote-image {
  border: solid #c5c5c9;
}

.portfolio-p {
  padding-top: 4%;
  font-size: 13px;
}

.portfolio-h5 {
  padding-top: 2%;
}

.portfolio-links {
  letter-spacing: 2px;
  line-height: 200%;
  color: rgb(37, 37, 37);
  padding: 0px !important;
}

.portfolio-links:hover {
  color: rgb(84, 134, 113);
  text-decoration: none;
}



/* Add Contact section styles */
.contact-section {
  background-color: rgb(77, 78, 78);
  color: rgb(235, 232, 232);
  height: 620px;
}

.contact-wrapper {
  padding-top: 2%;
  height: 100%;
}

.contact-Container {
  justify-content: center;
  padding-top: 5%;
}

.contact-h5 {
  letter-spacing: 2px;
  line-height: 200%;
  padding-left: 10%;
}

.contact-h4 {
  padding-left: 10%;
  letter-spacing: 2px;
  line-height: 150%;
}

.social-links {
  letter-spacing: 2px;
  line-height: 200%;
  color: rgb(235, 232, 232);
  padding: 0px !important;
}

.social-links:hover {
  color: rgb(138, 184, 168);
}

.email-link {
  letter-spacing: 2px;
  line-height: 200%;
  color: rgb(235, 232, 232);
  padding: 0px !important;
}

.email-link:hover {
  color: rgb(138, 184, 168);
}

.contact-footer {
  letter-spacing: 2px;
  text-align: center;
  padding-top: 24%;
  padding-left: 10%;
  font-size: 12px;
}

.contact-footer-Row {
  width: auto;
  text-align: center;
}

.contact-form {
  margin-left: 15%;
  margin-right: 15%;
}

footer {
  background-color: rgb(77, 78, 78);
  color: rgb(165, 164, 164);
  letter-spacing: 1px;
  text-align: center;
  font-size: 14px;
  padding-bottom: 2%;
  font-weight: 100;
}
