
/* Add Main section styles */
.main-section {
  padding-top: 20%;
}

.MainBackgroundImage {
  /* The image used */
  background-image: url("./images/main_image.jpg");
  
  /* Full height */
  height: 660px; 
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #49494b;
  background-blend-mode: overlay;
}

.MainBackgroundImage::after {
  background-color: #333436;
  z-index: -1;
}

.main-section-h3 {
  letter-spacing: 8px;
  color: rgb(230, 238, 238);
  font-size: 60px;
  text-align: left;
  padding-left: 5%;
}


.section-heading {
  letter-spacing: 3px;
  padding-left: 6%;
}


/* Add Bio section styles */
.bio-section {
  background-color: rgb(176, 180, 180);
  color: rgb(37, 37, 37);
  min-height: 600px;
}

.bio-container {
  padding-top: 2%;
  height: 100%;
}

.bio-image {
  max-height: 400px;
}

.img-fluid {
  max-width: 100%;
  max-height: 100%;
}

.bio-text {
  text-align: justify;
}

.bio-apps-list {
  width: 100%;
  text-align: center;
  padding-top: 8%;
  letter-spacing: 2px;
}



/* Add Portfolio section styles */
.portfolio-section {
  background-color: rgb(254, 255, 255);
  color: rgb(37, 37, 37);
  height: 600px;
}

.portfolio-container {
  padding-top: 2%;
  height: 100%;
}



/* Add Contact section styles */
.contact-section {
  background-color: rgb(77, 78, 78);
  color: rgb(235, 232, 232);
  height: 670px;
}

.contact-container {
  padding-top: 2%;
  height: 100%;
}

.contact-form-container {
  /* width: 50%; */
  justify-content: center;
  padding-top: 5%;
}

.contact-form {
  margin-left: 15%;
  margin-right: 15%;
}



/* Add navigation styles */

.nav-link-texts {
  letter-spacing: 2px;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 15px;
}

.nav-brand-text {
  letter-spacing: 2px;
  color: rgb(255, 255, 255) !important;
}

/* Large */
.navigation {
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}